/* Layout for the index html file */

/* 
 * a=0; b=0; c=1;
 * Specificity: 1 
 */
body {
    display: grid;
    grid-template-columns: 1fr, 3fr;
    grid-template-areas: 
        "heade header"
        "aside content"
        "footer footer";
}